pre {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
.shiki {
  padding: 2rem !important;
}

.input-cursor {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: rgb(255, 255, 255);
  margin-left: 0.5rem;
  transition: all 0.2s ease;
}
